/* transparent hero / image */
.hero.has-background {
    position: relative;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.hero-background.is-transparent {
    opacity: 0.3;
}
/* transparent hero / image */

/* prevent navbar from pushing page down */
.navbar-menu.is-active {
  position: absolute;
  width: 100%;
}

.is-full-height{
  height: 100vh;
}

.no-margin{
  margin: 0;
}

html, body {
  height: 100%;
}
