{% extends "base.html" %}

{% block body %}

<div class="hero is-medium is-primary has-background">
  <img alt="Fill Murray" class="hero-background is-transparent" src="https://www.fillmurray.com/1920/1080" />
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Hero Image</h1>
      <h3 class="subtitle">without CSS background-image</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class='columns is-multiline'>
    <div class='column is-4'>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          Make Informed Business Decisions
        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">

        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">

        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">

        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">

        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">

        </div>
      </div>
    </div>
  </div>
  <div>
    {% endblock %}