{% extends "base.html" %}

{% block body %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.username.label(class_="label") }}
        <div class="control has-icons-left has-icons-right">
            {{ form.username(size=32, class_="input", placeholder="Username") }}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
        </div>
      </div>
      <div class="field">
          {{ form.email.label(class_="label") }}
      <div class="control has-icons-left has-icons-right">
          {{ form.email(size=32, class_="input", placeholder="Email") }}
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
      </div>
    </div>
      <div class="field">
            {{ form.password.label(class_="label") }}
        <div class="control has-icons-left">
            {{ form.password(size=32, class_="input", placeholder="Password") }}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
        </div>
      </div>
      <div class="field">
            {{ form.password2.label(class_="label") }}
        <p class="control has-icons-left">
            {{ form.password2(size=32, class_="input", placeholder="Confirm Password") }}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
        </p>
      </div>
      <div class="field">
        <p class="control">{{ form.submit(class_="button is-success") }}</p>
      </div>
    </form>
{% endblock %}
